{% extends "base_layout.html" %}

{% block main %}

    <div class="container-lg mt-3">
      <h1>Login? Login!</h1>
    
        <form action="" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="name" class="form-control" name="username">
              <div id="nameHelp" class="form-text">Can't wait to hear your name</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
              <div id="passwordHelp" class="form-text">Was it sophisticated and pretty?</div>
            </div>
            <div>
              <p><input type="checkbox" name="rememberme"> Remember Me</p>
            </div>

            <button type="submit" class="btn btn" style="background-color: #d84e4e; color: white">Submit</button>
        </form>

        <div class="container mt-3">
          <a style="color: #9e3f3f" href="{{ url_for('register') }}">New here? Maybe register first!</a>
        </div>
    </div>

{% endblock %}