{% extends "base_layout.html" %}

{% block main %}

    <div class="container-lg mt-3">
        <h1>Sign up and don't give up!</h1>
    
        <form action="/register" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="name" class="form-control" name="username">
              <div id="nameHelp" class="form-text">Can't wait to learn your name</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password1">
              <div id="passwordHelp" class="form-text">Make it sophisticated and pretty</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" name="password2">
              <div id="passwordHelp" class="form-text">Repeat it, please!</div>
            </div>
            <div>
              <p><input type="checkbox" name="rememberme"> Remember Me</p>
            </div>

            <button type="submit" class="btn btn" style="background-color: #d84e4e; color: white">Submit</button>
        </form>

    </div>

{% endblock %}